<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.amazon.utils.ExtentTestNGITestListener" />
    </listeners>
    <test name="Cucumber Test">
        <classes>
            <class name="com.amazon.runners.ProTestNGRunner" />
        </classes>
    </test>
</suite>
